.group {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
}
.title {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}
.sum {
  margin: 0 10px 25px -10px;
}
.products {
  padding: 0;
  list-style: none;
}
